.hero {
  /* The image used */
  background-image: url("../img/spinning-record-player-with-vintage-vinyl.jpg");

  min-height: 600px;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
}
#title {
  color: #D97373;
  position: relative;
  margin-top: 50%;
  margin-right:  50%;
  font-size: 60px;
  
}

/* Position the navbar container inside the image */
.hero-container {
  position: absolute;
  margin: 20px;
  width: auto;
  right: 5px;
}

/* The navbar */
.topnav {
  overflow: hidden;

}

/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

@media only screen  and (min-width: 600px) {
  #title {
    margin-top: 40%;
    margin-left: 40%;
    font-size: 60px;
  }
}